In [1]:
#Functions
#Lamda functions
#c. Nested Functions
#Decarators

square = lambda x:x**2 in range(1,10)
print(square)

def calculator(a, b, operation):
    if operation == "add":
        return a + b
    elif operation == "subtract":
        return a - b
    elif operation == "multiply":
        return a * b
    elif operation == "divide":
        return a / b
    else:
        return "Invalid operation"

print(calculator(10, 5, "add"))  # Output: 15

<function <lambda> at 0x000001D8B47A9580>
15

In [3]:
lis1 = [1,2,3,4,5]
lis2 = lis1[3:6]
lis2

[4, 5]

In [5]:
lis1 = [1,2,3,4,5]
lis2 = lis1[3:6]
print(lis2)
iterate_var = iter(lis1)
print(iterate_var)

[4, 5]
<list_iterator object at 0x000001D8B52231C0>

In [7]:
for i in iterate_var:
    if i > 5:  
        print(i + 1)

In [9]:
def square (i):
    for i in range(i):
        i=i+2
    return i
res = square(11)
print(res)

12

In [11]:
def square (i):
    for i in range(i):
        i = i+2
        yield i
square(10)
for i in square(10):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [13]:
def square (i):
    for i in range(i):
        if i>5:
            i = i**2
        yield i
square(10)
for i in square(10):
    print(i)

0
1
2
3
4
5
36
49
64
81

In [15]:
result = lambda x,y:x+y
print(result(10,20))

30

In [17]:
def sample(func):
    def wrapper(item):
        item = item.upper()
        return func(item)
    return wrapper 

@sample
def process(item):
    return item 
result = process
print(result("hello"))

HELLO

In [23]:
import pandas as pd 
mobile_usage =[1,2,5]
name = ["bhavagna","sudharshan","sirikonda"]
reg_no = [626,627,666]
dict1 = {"mobile_usage":mobile_usage,"name":name,"reg_no":reg_no}
print(dict1)
df = pd.DataFrame(dict1)
print(df)
df.head(5)
df.tail(5)
print(df)

{'mobile_usage': [1, 2, 5], 'name': ['bhavagna', 'sudharshan', 'sirikonda'], 'reg_no': [626, 627, 666]}
   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666
   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666

In [27]:
import pandas as pd  

product_id = list(range(101, 121))  
product_name = [f"Product_{i}" for i in range(1, 21)]  
discount_percentage = [i % 10 + 5 for i in range(20)]  # Varying discount values  


product_data = {  
    "product_id": product_id,  
    "product_name": product_name,  
    "discount_percentage": discount_percentage  
}  

 
df = pd.DataFrame(product_data)  

 
print(df.head(5))

   product_id product_name  discount_percentage
0         101    Product_1                    5
1         102    Product_2                    6
2         103    Product_3                    7
3         104    Product_4                    8
4         105    Product_5                    9