In [23]:
import pandas as pd 
mobile_usage =[1,2,5]
name = ["bhavagna","sudharshan","sirikonda"]
reg_no = [626,627,666]
dict1 = {"mobile_usage":mobile_usage,"name":name,"reg_no":reg_no}
print(dict1)

{'mobile_usage': [1, 2, 5], 'name': ['bhavagna', 'sudharshan', 'sirikonda'], 'reg_no': [626, 627, 666]}

In [25]:
df =pd.DataFrame(dict1)
df

   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666

# lists

In [36]:
list = [1,2,3,4,5]
res = [i for i in list]
print(res)

[1, 2, 3, 4, 5]

In [52]:
list = [1,2,3,4,5]
res = [i for i in list if i%2==0]
print(res)
res = [i for i in list if i%2!=0]
print(res)

[2, 4]
[1, 3, 5]

In [5]:
dict1 = {"a":12,"abc":123,"id":26}
result= {value:key for key,value in dict1.items()}
print(result)

{12: 'a', 123: 'abc', 26: 'id'}

In [32]:
dict1 = {"a":12,"abc":123,"id":26}
result= {value:key for key,value in dict1.items()}
print(result)

{12: 'a', 123: 'abc', 26: 'id'}

In [28]:
dict1.keys()

dict_keys(['a', 'abc', 'id'])

In [36]:
dict1.values()

dict_values([12, 123, 26])

In [46]:
import math 
numbers = [1, 2, 3, 4, 5]
res = tuple(math.sqrt(i) for i in numbers)
print(res)

(1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979)

In [1]:
dicts = [
    {"name": "laptop", "price":800},
    {"name": "smartphone", "price":500}
]
a = {i["name"]:i["price"] for i in dicts if i["price"] <=500}
print(a)

{'smartphone': 500}

In [12]:
#finding list of squares 
res = [x**2 for x in range(1,50)]
print(res)
result = [x**2 for x in range(1,20)]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [30]:
x="madam" 
if(x==x[::-1]):
    print("True")
else:
    print("False")

True

In [46]:
#palindrome
a= ["madam","radar","xyz"]
res= [i for i in a if (i==i[::-1])]
res

['madam', 'radar']

In [50]:
lists = [1,2,3,4,6]
list2 = [2,3,4,5,6]
res=[i for i in lists if i in list2]
res

[2, 3, 4, 6]

In [52]:
lists = [1,2,3,4,6]
list2 = [2,3,4,5,6]
res=[i for i in lists if i not in list2]
res

[1]

In [54]:
lists = [1,2,3,4,6]
list2 = [7,8,9,0,10]
res=[i for i in lists if i in list2]
res

[]

In [1]:
#Functions
#Lamda functions
#c. Nested Functions
#Decarators

square = lambda x:x**2 in range(1,10)
print(square)

def calculator(a, b, operation):
    if operation == "add":
        return a + b
    elif operation == "subtract":
        return a - b
    elif operation == "multiply":
        return a * b
    elif operation == "divide":
        return a / b
    else:
        return "Invalid operation"

print(calculator(10, 5, "add"))  # Output: 15

<function <lambda> at 0x00000214CF5494E0>
15

In [1]:
lis1 = [1,2,3,4,5]
lis2 = lis1[3:6]
lis2

[4, 5]

In [9]:
lis1 = [1,2,3,4,5]
lis2 = lis1[3:6]
print(lis2)
iterate_var = iter(lis1)
print(iterate_var)

[4, 5]
<list_iterator object at 0x0000027D187365F0>

In [11]:
for i in iterate_var:
    if i > 5:  
        print(i + 1)

In [40]:
def square (i):
    for i in range(i):
        i=i+2
    return i
res = square(11)
print(res)

12

In [46]:
def square (i):
    for i in range(i):
        i = i+2
        yield i
square(10)
for i in square(10):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [56]:
def square (i):
    for i in range(i):
        if i>5:
            i = i**2
        yield i
square(10)
for i in square(10):
    print(i)

0
1
2
3
4
5
36
49
64
81

In [68]:
result = lambda x,y:x+y
print(result(10,20))

30

In [72]:
def sample(func):
    def wrapper(item):
        item = item.upper()
        return func(item)
    return wrapper 

@sample
def process(item):
    return item 
result = process
print(result("hello"))

HELLO

In [7]:
import pandas as pd 
mobile_usage =[1,2,5]
name = ["bhavagna","sudharshan","sirikonda"]
reg_no = [626,627,666]
dict1 = {"mobile_usage":mobile_usage,"name":name,"reg_no":reg_no}
print(dict1)
df = pd.DataFrame(dict1)
print(df)
df.head(5)
df.tail(5)
print(df)

{'mobile_usage': [1, 2, 5], 'name': ['bhavagna', 'sudharshan', 'sirikonda'], 'reg_no': [626, 627, 666]}
   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666
   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666

In [5]:
import pandas as pd  

product_id = list(range(101, 121))  
product_name = [f"Product_{i}" for i in range(1, 21)]  
discount_percentage = [i % 10 + 5 for i in range(20)]  # Varying discount values  


product_data = {  
    "product_id": product_id,  
    "product_name": product_name,  
    "discount_percentage": discount_percentage  
}  

 
df = pd.DataFrame(product_data)  

 
print(df.head(5))

   product_id product_name  discount_percentage
0         101    Product_1                    5
1         102    Product_2                    6
2         103    Product_3                    7
3         104    Product_4                    8
4         105    Product_5                    9

In [25]:
def dev_dec(func):
    def inner(a,b):
        if a < b:
            a,b = b,a
            return inner
    
def div(a,b):
    return a/b 
div(2,4)

0.5

In [27]:
def dev_dec(func):
    def inner(a, b):
        if a < b:
            a, b = b, a
        return func(a, b)  
    return inner  

@dev_dec
def div(a, b):
    return a / b 

print(div(2,4))

2.0

In [45]:
def division(func):
    def inn(a,c):
        if c == 0:
            print("Error: cannot divide by zero")
            return 
        if a > c:
            a , c = c , a
        return func(a, c)
    return inn
@division
def div(a,c):
    return a / c
print(div(2,0))
print(div(2,6))

Error: cannot divide by zero
None
0.3333333333333333

In [49]:
def operation_check(func):
    def inner(a, c):
        if a * c > 20:
            if c == 0:
                print("Error: Cannot divide by zero")
                return None
            return func(a, c) 
        return a * c 
    return inner

@operation_check
def div(a, c):
    return a / c

print(div(2, 0))  
print(div(2, 6))   
print(div(5, 5))

0
12
1.0