In [23]:
import pandas as pd 
mobile_usage =[1,2,5]
name = ["bhavagna","sudharshan","sirikonda"]
reg_no = [626,627,666]
dict1 = {"mobile_usage":mobile_usage,"name":name,"reg_no":reg_no}
print(dict1)

{'mobile_usage': [1, 2, 5], 'name': ['bhavagna', 'sudharshan', 'sirikonda'], 'reg_no': [626, 627, 666]}

In [25]:
df =pd.DataFrame(dict1)
df

   mobile_usage        name  reg_no
0             1    bhavagna     626
1             2  sudharshan     627
2             5   sirikonda     666

# lists

In [36]:
list = [1,2,3,4,5]
res = [i for i in list]
print(res)

[1, 2, 3, 4, 5]

In [52]:
list = [1,2,3,4,5]
res = [i for i in list if i%2==0]
print(res)
res = [i for i in list if i%2!=0]
print(res)

[2, 4]
[1, 3, 5]

In [5]:
dict1 = {"a":12,"abc":123,"id":26}
result= {value:key for key,value in dict1.items()}
print(result)

{12: 'a', 123: 'abc', 26: 'id'}

In [32]:
dict1 = {"a":12,"abc":123,"id":26}
result= {value:key for key,value in dict1.items()}
print(result)

{12: 'a', 123: 'abc', 26: 'id'}

In [28]:
dict1.keys()

dict_keys(['a', 'abc', 'id'])

In [36]:
dict1.values()

dict_values([12, 123, 26])

In [46]:
import math 
numbers = [1, 2, 3, 4, 5]
res = tuple(math.sqrt(i) for i in numbers)
print(res)

(1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979)

In [1]:
dicts = [
    {"name": "laptop", "price":800},
    {"name": "smartphone", "price":500}
]
a = {i["name"]:i["price"] for i in dicts if i["price"] <=500}
print(a)

{'smartphone': 500}

In [12]:
#finding list of squares 
res = [x**2 for x in range(1,50)]
print(res)
result = [x**2 for x in range(1,20)]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [30]:
x="madam" 
if(x==x[::-1]):
    print("True")
else:
    print("False")

True

In [46]:
#palindrome
a= ["madam","radar","xyz"]
res= [i for i in a if (i==i[::-1])]
res

['madam', 'radar']

In [50]:
lists = [1,2,3,4,6]
list2 = [2,3,4,5,6]
res=[i for i in lists if i in list2]
res

[2, 3, 4, 6]

In [52]:
lists = [1,2,3,4,6]
list2 = [2,3,4,5,6]
res=[i for i in lists if i not in list2]
res

[1]

In [54]:
lists = [1,2,3,4,6]
list2 = [7,8,9,0,10]
res=[i for i in lists if i in list2]
res

[]