In [1]:
import pandas as pd

In [13]:
data = {
    'name': ['John', 'Alice' , 'Bob', 'Diana'],
    'Age': [28,34,23,29],
    'Department': ['HR','IT','Marketing','Finance'],
    'Salary': [45000,60000,35000,50000]
}
df = pd.DataFrame(data)

In [11]:
print(df.head(2))

    name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

In [15]:
df['Bonus'] =df['Salary'] * 0.10
print("\nDataFrame with Bonus Coulumn:")
print(df)

DataFrame with Bonus Coulumn:
    name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

In [26]:

average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)
filtered_df = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(filtered_df)

Average Salary: 47500.0

Employees older than 25:
    name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0